* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body {
  height:100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;  
  flex-flow: row wrap;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  width:100%;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  background-color: #e2e2e2;
  width: 20%;
  padding: 10px;
  margin-right: 20px;
}

nav > li {
  list-style-type: none;
}

article {
  padding: 20px;
  text-align: left;
  background: deepskyblue;
  width: 80%;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
