* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body {
  height:100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
}


/* Style the header */
header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  width:100%;
  text-align: left;
  font-size: 35px;
  color: black;
  border-bottom: #777 1px solid;
}

nav {
  background-color: transparent;
  width: 20%;
  padding: 10px;
  border-right: #ccc 1px solid;
}

nav > li {
  list-style-type: none;
}

article {
  padding: 20px;
  flex-grow: 1;
  text-align: left;
  background: transparent;
  width: 60%;
  border-left: #ccc 1px solid;
}

aside {
  width: 20%;
  background-color: transparent;
}

footer {
  background-color: #777;
  width:100%;
  padding: 10px;
  text-align: center;
  color: white;
}


button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.edit-menu {
  margin-top:1em;
  margin-bottom:1em;
}


