* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body {
  height:100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
}


/* Style the header */
header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  width:100%;
  text-align: left;
  font-size: 35px;
  color: black;
  border-bottom: #777 1px solid;
}

nav {
  background-color: transparent;
  width: 20%;
  padding: 10px;
  border-right: #ccc 1px solid;
}

nav > li {
  list-style-type: none;
}

article {
  padding: 20px;
  flex-grow: 1;
  text-align: left;
  background: transparent;
  width: 60%;
  border-left: #ccc 1px solid;
}

aside {
  width: 20%;
  background-color: transparent;
}

footer {
  background-color: #777;
  width:100%;
  padding: 10px;
  text-align: center;
  color: white;
}

button {
  background-color: whitesmoke;
  border-radius: 20%;
  padding: 5px;
}
